meta(name='viewport', content='width=device-width') 
h1 Todd H. Page
h2 I make pretty things work on the internet.
  .secondLine And I'm <i>good</i> at it.
.holder
  a.link.codepen(href='http://codepen.io/thethp/')
   a.link.resume(href='http://thpcod.es/resume.docx')
  a.link.github(href='https://github.com/thethp')
  .projects
    h2 Projects
    a.link.project.hubwaypi(href='http://thpcod.es/hubwaypi')
    a.link.project.beatspaces(href='http://meat.thpcod.es:8080')
    a.link.project.hulucastable(href='http://thpcod.es/hulucastable')
    a.link.project.eatlunch(href='http://eatlun.ch')
  .contact
    span.number 203.907.7006&nbsp;
    span.dot &nbsp;·&nbsp;
    a.email(href='mailto:todderick@gmail.com') &nbsp;todderick@gmail.com
  a.link.social.twitter(href='http://twitter.com/_thp')
  a.link.social.facebook(href='https://facebook.com/thethp')
  a.link.social.instagram(href='http://instagram.com/mrthp')
 