body, html {
  background-color: #00A0B0;
  text-align: center;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px #6A4A3C;
  min-width: 310px;
}
h2 {
  text-shadow: 1.5px 1px #6A4A3C;
}
.secondLine {
  padding-top: 10px;
}
.holder {
  max-width: 800px;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  margin: 0 auto;
  text-align: center;
}
.link {
  width: 28%;
  padding-bottom: 28%;
  border: 10px solid #EB6841;
  box-shadow: 3px 3px 1px #D25D3A;
  border-radius: 100%;
  margin-right: 2%;
  display: inline-block;
  margin-bottom: 2%;
  background: #CC333F;
  cursor: pointer;
  transition: border-color .4s, box-shadow .4s, background-color .4s;
}
.link.codepen {
  background: url(http://thpcod.es/images/responsive/codepen.png) #CC333F no-repeat center center;
  background-size: 88% 88%;
}
.link.github {
  background: url(http://thpcod.es/images/responsive/octocat.png) #CC333F no-repeat center center;
  background-size: 100% 100%;
}
.link.resume {
  background: url(http://thpcod.es/images/responsive/resume.png) #CC333F no-repeat center center;
  background-size: 100% 100%;
}
.link:hover {
  border-color: #EDC951;
  box-shadow: 3px 3px 1px #D4B348;
  background-color: #B62D38;
}
.link.project {
  width: 15%;
  padding-bottom: 15%;
  background-color: #0A5B63;
  border-width: 8px;
  box-shadow: 2px 2px 1px #D25D3A;
}
.link.project.hubwaypi {
  background: url(http://thpcod.es/images/responsive/hubwaypiwhite.png) #0A5B63 no-repeat center center;
  background-size: 70% 70%;
}
.link.project.hubwanderer {
  background: url(http://thpcod.es/images/responsive/hubwanderer.png) #0A5B63 no-repeat center center;
  background-size: 80% 80%;
}
.link.project.beatspaces {
  background: url(http://thpcod.es/images/responsive/beatspaces.png) #0A5B63 no-repeat center center;
  background-size: 80% 80%;
}
.link.project.hulucastable {
  background: url(http://thpcod.es/images/responsive/hulu.png) #0A5B63 no-repeat center center;
  background-size: 65% 65%;
}
.link.project.eatlunch {
  background: url(http://thpcod.es/images/responsive/eatlunch.png) #0A5B63 no-repeat center center;
  background-size: 65% 65%;
}
.link.project:hover {
  border-width: 8px;
  background-color: #085158;
  box-shadow: 2px 2px 1px #D4B348;
}
.contact, a.email, a[href^=tel]:link {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 17px;
  color: #FFF !important;
  text-decoration: none !important;
  text-shadow: 1px 1px #6A4A3C;
}
.link.social {
  width: 8%;
  padding-bottom: 8%;
  border-width: 5px;
  border-color: #EDC951;
  background-color: #00A0B0;
  box-shadow: 1px 1px 1px #D4B348;
}
.link.social.twitter {
  background: url(http://thpcod.es/images/responsive/twitter.png) #00A0B0 no-repeat center center;
  background-size: 120% 120%;
}
.link.social.facebook {
  background: url(http://thpcod.es/images/responsive/facebook.png) #00A0B0 no-repeat center center;
  background-size: 80% 80%;
}
.link.social.instagram {
  background: url(http://thpcod.es/images/responsive/instagram.png) #00A0B0 no-repeat center center;
  background-size: 80% 80%;
}
.link.social:hover {
  background-color: #0A5B63;
}
@media (max-width:700px) {
  .link {
    width: 25%;
    padding-bottom: 25%;
  }
  .link.project {
  }
  .link.social {
  }
}
@media (max-width:400px) {
  h1 {
    margin-bottom: 0px;
  }
  h2:first-of-type {
    margin-top: 10px;
  }
  .link {
    width: 20%;
    padding-bottom: 20%;
    box-shadow: none;
  }
  .link.project {
    box-shadow: none;
  }
  .link.social {
    box-shadow: none;
  }
}
@media (max-width:325px) {
  span.dot {
    display: none;
  }
}